OBSERVE_APP_KEY=
OBSERVE_APP_SECRET=
OBSERVE_ENABLED=

REDIS_URL=

JWT_SECRET =
JWT_REFRESH_SECRET =

DATABASE_ROOT_PASSWORD =
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=

DATABASE_URL=
